@font-face {
    font-family: "bungeeshaderegular";
    src: url(./fonts/BungeeShade-Regular.woff2) format("woff2");
    src: url(./fonts/BungeeShade-Regular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "bungeeinlineregular";
    src: url(./fonts/BungeeInline-Regular.woff2) format("woff2");
    src: url(./fonts/BungeeInline-Regular.woff) format("woff");
}
* {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    padding: 0;
}

body{   
    background-color: #D8C99B;
    color: #273E47;
}
h1{
    font-family: "bungeeshaderegular", sans-serif;
}
div{
    
    font-family: "bungeeinlineregular", sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}

.cell{
    background-color: #BD632F;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 10px;
}
.container{
    height: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
/* Style reference for the buttons Button-30 @ https://getcssscan.com/css-buttons-examples */
#reset{
  align-items: center;
  appearance: none;
  /* background-color: #FCFCFD; */
  background-color: #BD632F;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#BD632F 0 -3px 0 inset;
  box-sizing: border-box;
  /* color: #36395A; */
  color: #273E47;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  font-family: "bungeeshaderegular", sans-serif;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

#reset:focus {
  box-shadow: #BD632F 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #BD632F 0 -3px 0 inset;
}

#reset:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #BD632F 0 -3px 0 inset;
  transform: translateY(-2px);
}

#reset:active {
  box-shadow: #BD632F 0 3px 7px inset;
  transform: translateY(2px);
}
